{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% if title != None %}
        <title>  {{title}} </title>  
    {% else %}
        <title>Triage App</title>
    {% endif %}   
    

  </head>
  
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
      
          <button class="btn btn-outline-light" hx-get="{% url 'app-home' %}" hx-swap="innerHTML" hx-target="#container">Home</button>
        </li>
        <li class="nav-item">
         
          <button class="btn btn-outline-light" hx-get="{% url 'under_treatment' %}" hx-swap="innerHTML" hx-target="#container">Under Treatment</button>
        </li>
        <li class="nav-item">
          
          <button class="btn btn-outline-light" hx-get="{% url 'app-new_triage_form' %}" hx-swap="innerHTML" hx-target="#container">New Triage</button>
        </li>
        <li class="nav-item">
          
          <button class="btn btn-outline-light" hx-get="{% url 'app-logout' %}" hx-swap="innerHTML" hx-target="#container">Logout</button>
        </li>
      </ul>
    </nav>

    <div id="login-container" hx-swap-oob="true">
    {% block login %}
    {% endblock %}
    </div>

    <div id="container" hx-swap-oob="true">
    {% block content %}
    {% endblock %}
    </div>
    
  <!--
    <form hx-get="{% url 'app-home' %}" hx-trigger="change" hx-target="#container">
      <select name="sort_by" class="form-control" style="text-align: center; vertical-align: middle;">
          <option value="default">Default</option>
          <option value="time">Time Created</option>
      </select>
    </form>
  -->

    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script>document.body.addEventListener('htmx:configRequest', (event) => {event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';})</script>

  </body>
</html>


