<title> Home </title>
{%extends "base.html" %}
{% block content %}

        <div class="card card-body align-items-center d-flex justify-content-center">
            <h3>Dashboard</h3>
        </div>
        <div class="card card-body align-items-center d-flex justify-content-center">
            <table class="table table-responsive align-items-center d-flex justify-content-center">
                <tr>
                    
                    <th class="text-center">Patient ID</th>
                    <th class="text-center">Triage Created</th>
                    <th class="text-center">Actions</th>

                </tr>
                
                    {% for i in triage %}
                <tr>

                    <td style="text-align: center; vertical-align: middle;" class="bg-warning">{{i.patientid}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{i.created|date:"H:i"}}</td>
                    <td><a href="{% url 'triage_detail' i.id %}"><button type="button" class="btn btn-primary btn-info">View</button></a>
                        <a href="{% url 'triage_delete' i.id %}"><button type="button" class="btn btn-primary btn-danger">Delete</button></a>
                    </td>
                </tr>
                    {% endfor %}
               

            </table>
        </div>

{% endblock%}