<title> Home </title>
{%extends "base.html" %}
{% block content %}   
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Dashboard</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Patient ID</th>
                    <th>Triage Created</th>
                </tr>

                {% for i in triage %}
                    <tr>
                        <td>{{i.patientid}}</td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
    
</div>
{% endblock%}
    
