<title> Home </title>
{%extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Dashboard</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    
                    <th>Patient ID</th>
                    <th>Triage Created</th>
                    <th>Actions</th>

                </tr>
                
                    {% for i in triage %}
                <tr>

                    <td>{{i.patientid}}</td>
                    <td></td>
                    <td><button type="button" class="btn btn-primary btn-info">View</button>
                        <button type="button" class="btn btn-primary btn-info">Update</button>
                        <button type="button" class="btn btn-primary btn-danger">Delete</button>
                    </td>
                </tr>
                    {% endfor %}
               

            </table>
        </div>
    </div>

</div>
{% endblock%}