<title>Login</title>


{% extends 'base.html' %}

{% block login %}



    <div class="d-flex justify-content-center" >
        <form method="POST" hx-post="{% url 'app-login' %}" hx-target="#container">
            {% if error %}
                <h5 style='color:rgb(255, 145, 0)'>{{ error }} </h5>
            {% endif%}
            <div class="form-group">
                <label for="name">username</label>
                <input id="name" type="text" class="form-control" name="name" required autofocus>
            </div>
    
            <div class="form-group">
                <label for="password">password</label>
                <input id="password" type="password" class="form-control" name="password" required data-eye>
            </div>
            <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                    Login
                </button>
            </div>
        </form>
    </div>


<!--<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script>document.body.addEventListener('htmx:configRequest', (event) => {event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';})</script>-->



{% endblock %}