<title> Logout </title>

<div class="d-flex justify-content-center" >
    <form method="POST" hx-post="{% url 'app-logout' %}" hx-target="#login-container" hx-confirm="Are you sure you want to logout?"> 
        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-danger">Logout</button>
        </div>
    </form>
</div>


<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script>document.body.addEventListener('htmx:configRequest', (event) => {event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';})</script>