<title> Home </title>
{%extends "base.html" %}
{% block content %}



<div class="card card-body">
    {% for name, value in object.get_fields %}
    {% if name == "Beteg azonosító" %}
    <h5>Beteg azonosító: {{ value }}</h5>
    {% else %}
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            {{ name }}
        </div>
        <div class="col col-lg-2">
            {{ value }}
        </div>
    </div>
</div>

    {% endif %}
    {% endfor %}

<div class="d-flex justify-content-center">
    <a href="{% url 'app-home' %}"><button type="button" class="btn btn-primary btn-info">Back</button></a>
</div>



{% endblock%}