<title> Under Treatment </title>

<div id="loader" hx-get="{% url 'under_treatment' %}" hx-trigger="every 10s">

<div class="card card-body align-items-center d-flex justify-content-center">
    <h3>Under Treatment</h3>
</div>
<div class="card card-body align-items-center d-flex justify-content-center">
    <table class="table table-responsive align-items-center d-flex justify-content-center">
        <tr>
            
            <th class="text-center">Patient ID</th>
            <th class="text-center">Treated By</th>
            <th class="text-center">Triage Created</th>
            <th class="text-center">Actions</th>

        </tr>
        
            {% for i in under_treatment %}
        <tr>   
            {% if i.triage_category == '1' %}
            <td style="text-align: center; vertical-align: middle; background-color: rgba(255, 0, 0, 0.699)">{{i.patientid}}</td>
            {% elif i.triage_category == '2' %}
            <td style="text-align: center; vertical-align: middle; background-color: rgba(255, 115, 0, 0.884)">{{i.patientid}}</td>
            {% elif i.triage_category == '3' %}
            <td style="text-align: center; vertical-align: middle; background-color: rgba(251, 255, 0, 0.822)">{{i.patientid}}</td>
            {% elif i.triage_category == '4' %}
            <td style="text-align: center; vertical-align: middle; background-color: rgba(43, 255, 0, 0.637)">{{i.patientid}}</td>
            {% elif i.triage_category == '5' %}
            <td style="text-align: center; vertical-align: middle; background-color: rgba(0, 140, 255, 0.822)">{{i.patientid}}</td>

            {% endif %}

            
            <td style="text-align: center; vertical-align: middle;">{{i.user.get_full_name}}</td>
            <td style="text-align: center; vertical-align: middle;">{{i.created|date:"H:i d,F"}}</td>
            <td><button class="btn btn-outline-info" hx-get="{% url 'triage_detail' i.id %}" hx-swap="innerHTML" hx-target="#container">View</button>
            </td>
        </tr>
            {% endfor %}

</div>